* {
    background-color: #fff;
    color: #4f4758;
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
}

header {
    justify-content: space-between;
    background-color:#524e4e;
    width: 100vw;
    margin: auto;
}

header h1 {
    background-color:#159ed4;
    margin-left: 5px;
    border-style: dotted;
    border-radius: 10%;
}

nav{
    margin-right: 5%;
    background-color: #524e4e;
}

nav ul {
    background-color: #524e4e;
}

nav ul li {
    display: inline-flex;
    background-color: #524e4e;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(21, 158, 212);
    background-color: #524e4e;
    text-decoration: underline 5px;
    text-underline-offset: 5px;
}

#subheader {
    flex-direction: row-reverse;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background: repeating-linear-gradient(45deg, orange, #524e4e 100px);
    animation-timing-function: ease-in ease-out;
}

#subheader h2 {
    position: absolute; /* had to force absolute position so that the h2 box would only be the same size as the text it contains*/
    margin-right: 10px;
    margin-top: 100px;
    padding: 10px;
    background-color:rgb(21, 158, 212);
    border-radius: 35%;
}

main {
    margin-left: 10%
}


aside {
    position: relative;
}

aside h3 {
    position: relative;
    text-align: right;
    font-size: 50px; 
    word-wrap: break-word;
}

aside h3::after {
    content:"";
    position:absolute;
    left:-10px;
    right:-20px;
    top:-5px;
    bottom:-5px;
    border-right:2px solid;
    border-right-width:4px;
  }

section p {
    position: relative;
    margin-top: 75px;
    margin-left: 60px;
    text-align: left;
}

/*grid container*/

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 26px 22px;
    grid-template-areas:
      "surf-report surf-report"
      "surf-report surf-report"
      "led-wall calculator"
      "pastel run-buddy";
  }
  .surf-report { grid-area: surf-report; }
  .led-wall { grid-area: led-wall; }
  .calculator{ grid-area: calculator; }
  .pastel { grid-area: pastel; }
  .run-buddy { grid-area: run-buddy; }

  .grid-container > div img {
    max-width: 100%;
    display: block;
}

/*classes*/

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

/* Media Queries*/
