* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #030005;
    font-family: roboto;
}

body {
    display:flex;
    flex-wrap: wrap;
    background-color: #3d8383;
}

header {
    justify-content: space-between;
    background-color:#524e4e;
    width: 100%;
}

h1 {
    position: relative;
    background-color:#159ed4;
    margin-left: 5px;
    border-style: dotted;
    border-radius: 10%;
}

header nav {
    padding: 1%;
    margin-right: 5%;
    background-color: #524e4e;
}

nav ul {
   background-color: #524e4e;
}

nav ul li {
    display: inline-flex;
    background-color: #524e4e;
}

nav ul li a {
    color: rgb(21, 158, 212);
    background-color: #524e4e;
    border-bottom: 3px solid #159ed4;
    text-decoration: none;
}

#subheader {
    flex-direction: row-reverse;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background: repeating-linear-gradient(45deg, orange, #524e4e 100px);
    animation-timing-function: ease-in ease-out;
}

#subheader h2 {
    position: absolute; /* had to force absolute position so that the h2 box would only be the same size as the text it contains*/
    margin-right: 10px;
    margin-top: 100px;
    padding: 10px;
    background-color:rgb(21, 158, 212);
    border-radius: 35%;
}

p {
    margin-right: 5%;
    font-size: 18px;
}

.block-container {
    justify-content: space-around;
    flex-basis: 85%;
}

aside {
    position: relative;
}

h3 {
    position: relative;
    text-align: right;
    font-size: 50px; 
    word-wrap: break-word;
}


/*block container (contains everything exclusive to the Work blocks, including it's own classes*/

.block-container {
    justify-content: space-around;
    flex-basis: 85%;
    margin-top: 5%;
}

.work-block {
    height: 250px;
    flex-basis: 45%;
    border: 2px solid #fff;
    margin: 10px 0;  
    position: relative;  
}

/* this section is where I set background images for work blocks */
#surf-report {
    /* width 95% so there is some space on either side */
    flex-basis: 95%; /* makes this block always the largest */
    background-image: url(images/surfer.jpg);  
    background-position: 25%;
}

#led-wall {
    background-image: url(images/ledWall.jpg);
    background-position: center;
}

#calculator {
    background-image: url(images/calc.jpg);
    background-position: center;
}

#pastel-puzzle {
    background-image: url(images/pastelPuzzle.jpg);
    background-position: center;
}

#run-buddy {
    background-image: url(images/runBud.jpg);
    background-position: center;
}


/* format work block titles */
.work-block-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    align-self: flex-end;
    padding: 20px 10px;
}

/* add hyperlink to work blocks */
.block-link {
    position: absolute; /* positioning hyperlink relative to work blocks */
    width: 100%; /* width same as container */
    height: 100%; /* height same as container */
    top: 0; /* position at top of container */
    left: 0; /* position at left of container */
}

.block-link:hover {
    background-color: #414040; /* background color when hover */
    opacity: 0.25; /* make sure you can see through it */
}

/* this hides the link text visually while allowing link text */
/* useful for screen reader accessibility */
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


/*universal classes and ids*/

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.spread-links {
    display: flex;
    flex-basis: 100%; 
    justify-content: space-around;
    align-items: center;
}

main.container {
    margin-left: 10%;
}

/* For below, I originally used the :after element to create a border beside the content instead, but this shifted my page too much. I thought it was a cool effect */
.title {
    flex-basis: 15%; /* take up 15% of screen */
    margin-top: 5%;
    padding-right: 15px; /* pad side for space between border */
    border-right: 4px solid #5f5656; /* add line to divide title and content */
    font-size: 35px;
    font-weight: bolder;
    text-align: right; /* push text to the right of container */
}


.content-wrapper {
    flex-direction: column;
    flex-basis: 75%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}


/*media rules*/

@media screen and (max-width: 768px) {
   
    /* add some space around links and make them take up the whole screen */
    header nav {
        padding-bottom: 10px;
        flex-basis: 100%;
    }

    /* change surf block width to match the rest */
    /* adjust background image position to show the dude */
    #surf-report-block {
        flex-basis: auto;
        background-position: 35%;
    }

    /* make work blocks fill entire container */
    .work-block {
        flex-basis: 100%;
    }
    
    /* make paragraph font smaller for smaller screens */
    p {
        font-size: 16px;
    }

    /* change nav lists to inline-flex and format for space between and around links */
    nav ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
    }

    /* make individual links overflow to next line at 2nd link */
    /* flex-basis 40% because taking margin into account */
    nav ul li {
        margin: 5px;
        flex-basis: 40%;
        flex-wrap: wrap;
    }

}