* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #030005;
    font-family: roboto;
}

body {
    display:flex;
    flex-wrap: wrap;
    background-color: #3d8383;
}

header {
    justify-content: space-between;
    background-color:#524e4e;
    width: 100%;
}

h1 {
    position: relative;
    background-color:#159ed4;
    margin-left: 5px;
    border-style: dotted;
    border-radius: 10%;
}

nav {
    margin-right: 5%;
    background-color: #524e4e;
}

nav ul {
   background-color: #524e4e;
}

nav ul li {
    display: inline-flex;
    background-color: #524e4e;
}

nav ul li a {
    color: rgb(21, 158, 212);
    background-color: #524e4e;
    border-bottom: 3px solid #159ed4;
    text-decoration: none;
}

#subheader {
    flex-direction: row-reverse;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background: repeating-linear-gradient(45deg, orange, #524e4e 100px);
    animation-timing-function: ease-in ease-out;
}

#subheader h2 {
    position: absolute; /* had to force absolute position so that the h2 box would only be the same size as the text it contains*/
    margin-right: 10px;
    margin-top: 100px;
    padding: 10px;
    background-color:rgb(21, 158, 212);
    border-radius: 35%;
}

main {
    margin-left: 10%;
}

.block-container {
    justify-content: space-around;
    flex-basis: 85%;
}

aside {
    position: relative;
}

h3 {
    position: relative;
    text-align: right;
    font-size: 50px; 
    word-wrap: break-word;
}

/*block container (contains everything exclusive to the Work blocks, including it's own classes*/

.block-container {
    justify-content: space-around;
    flex-basis: 85%;
}

.work-block {
    height: 250px;
    flex-basis: 45%;
    border: 2px solid #fff;
    margin: 10px 0;  
    position: relative;  
}

/*universal classes and ids*/

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.border-left::after {
    content:"";
    position:absolute;
    left:-40px;
    right:-20px;
    top:-5px;
    bottom:-5px;
    border-left:2px solid;
    border-left-width:4px;
  }

.spread-links {
    display: flex;
    flex-basis: 100%; 
    justify-content: space-around;
    align-items: center;
} 

#about-me {
    position: relative;
    margin-top: 75px;
    margin-left: 60px;
    text-align: left;
}